.cart-link {
  position: fixed;
  right: 1rem;
  top: 1rem;
  background-color: #fff;
  color: black;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 1.8rem;
  border-radius: 50%;
  z-index: 10;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    text-decoration: none;
  }
}

.card {
  border-radius: 12px;
  max-width: 420px;
}

.card img {
  width: 100%;
  height: 270px;
  object-fit: scale-down;
}

.text-red {
  color: rgb(211, 98, 98);
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  background: white;
  white-space: pre;
}

.cart-count {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  color: white;
  background-color: red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  justify-content: center;
  align-items: center;
}
