<div class='container productdetails'>
  <div class='row productdetails__flex'>
    <div class='col'>
      <img class='productdetails__image' src={{@src}} alt='product image' />
    </div>
    <div class='col mt-5'>
      <h2>boAt Rockerz 550 Over-Ear Wireless Headphone with Ergonomic
        Aesthetics.</h2>
      <section class='mb-1'>
        <div class='text-warning'>
          <i class='fa fa-star'></i>
          <i class='fa fa-star'></i>
          <i class='fa fa-star'></i>
          <i class='fa fa-star'></i>
          <i class='fa fa-star-half-o'></i>
        </div>
      </section>
      <section class='mb-1'>
        <del class='small text-black-50'>$199.95</del>
        <i class='text-danger font-weight-bold'>$99.98</i>
      </section>
      <p class='card-text text-muted'>Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Nulla cupiditate unde suscipit perferendis animi
        molestias cumque, explicabo alias ab recusandae enim natus reiciendis
        mollitia doloremque aspernatur nostrum distinctio voluptates blanditiis!</p>
      <div class='productdetails__colors active-{{@color}}'>
        <span
          {{on 'click' (fn @onChangeColor 'red')}}
          class='productdetails__color color-red'
        ></span>
        <span
          {{on 'click' (fn @onChangeColor 'black')}}
          class='productdetails__color color-black'
        ></span>
      </div>
    </div>

  </div>
</div>